*{
    margin: 0;
    padding: 0;
}


header, nav, section, aside, footer{
    display: block;
}

.clear{
    clear:both;
}

body{
    margin:30px auto 0;
    position:relative;
    text-align:left;
    width:960px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
}


#contenedor{
    width: 960px;
}

/*=====================================
	Manejo del header
=======================================*/

header{
    width: 960px;
    height:100px;
    color: #000000;
}

#logotipo{
    position: relative;
    margin:0;
}

#logotipo img{
    float: left;
    padding: 15px 0 0 15px;
    width: 8%;
}



#logotipo span{
    margin: 40px 0 0 10px;
    float: left;
    font-family: 'Spectral SC', serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

nav{
    font-size: 14pt;
    font-family: 'Lora', serif;
}

nav ul{
    /*
    position: absolute;
    */margin: 0 15px 0 0;
    overflow: hidden;
    list-style:none outside none;
    top: 40px;
    right: 150px;
}

nav ul li{
    /*
    border-right: 1px solid;
     */
    display: inline;
    margin: 0 10px;
    padding: 0 10px;
    /*
    float: left;
     */
    text-align: center;
}

li a{
    color: #1e1d1c;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover{
    color:#7795a3;
}

header #perfil{
    width: 150px;
    /*
    position: absolute;
     */
    float: right;
    top: 15px;
    right: 40px;
    margin-top: 15px;
}

header #perfil #usuario img{
    width: 20%;
}

header #perfil #nombre_usuario{
    color: #d71a26;
    float: left;
    display: inline-block;
    text-align: left;
    padding: 1em;
}

header #perfil #carrito img{
    width: 20%;
}

/*=====================================
	Manejo del contenido
=======================================*/

section #presentacion{
    width: 960px;
    margin-top: 10px;
    text-align: center;
}

section #ofertas{
    width: 930px;
    height: 150px;
    border: 1px solid #993d00;
    margin:20px;
    padding-bottom: 10px;
    text-align: center;
}

section #presentacion video{
    width: 600px;
    height: 300px;
}

section #ofertas ul{
    margin-top: 10px;
    list-style: none;
}

section #ofertas ul li{
    width: 250px;
    float: left;
    padding:0 0 0 5px;
}

#ofertas ul li img{
    float: left;
    width:120px;
    height: 100px;
}

#ofertas ul li #title_oferta{
    font-weight: bold;
    width: 50px;
    float: left;
}

#ofertas ul li #valoracion{
    width: 50px;
    float: left;
}

#ofertas ul li #precio{
    font-size: 12pt;
    width: 85px;
    float: left;
}


#content_login{
    text-align: center;
    width: 960px;
}

#form_login table{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#form_login input, #form_signup input{
    margin: 10px auto;
    width: 200px;
    height: 30px;
    border-style:solid;

}

#form_login input:focus, #form_signup input:focus{
    border-color: cornflowerblue;
}

#button_login{
    width: 10px;
    height: 100px;
    padding: 5px;
    font-weight: bold;
}

#button_signup{
    width: 150px;
    height: 100px;
    font-weight: bold;
}

#login_registrarse{
    padding-bottom: 5px;
    width: 100px;
}


#login{
    width: 500px;
    height: 300px;
    margin:0 230px;
}

#validacion_login{
    height: 30px;
    color: red;
}

#signup{
    width: 500px;
    height: 500px;
    margin:0 230px;
}

#prod-lateral { float: left; width: 17%; }


#prod-portada{
    padding:10px;
}
#prod-contenido { float: right; width: 78%; }
#prod-contenido #descripcion-libro { float: left; width: 75%; }
#prod-contenido #banner { float: right; width: 25%; }

div.prod-stars {
    padding: 7px;
    width: 270px;
    display: inline-block;
    align-content: left;
}

input.prod-star { display: none; }

label.prod-star {
    align-content: right;
    font-size: 40px;
    color: #444;
    transition: all .2s;
}
div.prod-bookart{
    float: right;
}

input.prod-star:checked + label.prod-star:before {
    content: '☆';
    color: cornflowerblue;
    transition: all .25s;
}

input.prod-star-5:checked + label.prod-star:before {
    color: #ffe513;
    text-shadow: 0 0 20px #952;
}

input.prod-star-1:checked + label.prod-star:before { color: #F62; }

label.prod-star:before {
    content:  '☆';
}

#prod-detalle{
    horiz-align: center;
    align-content: center;
}

#isbn{
padding-left: 150px;
}
#isbn td{
    border: ridge;
    border-width: 2px;
}

#prod-payment, #content_pago{
    font-size: large;
    font-weight: bold;
    font-family: "Verdana";
}

#pago-contenido{
    padding: 10px;
    width:  100%;
    float: right;
}
#prod-precio{
    color: red;
}
#addr-pago{
    width: 100%;
    line-height: 4;
    text-align: start;
}


#prod-cart-button{
    font-size: larger;
    background-color: black;

    color: white;
    padding: 0px 25px 0px 25px;
}

#comprar{
    font-size: larger;
    background-color: black;

    color: white;
    padding: 0px 25px 0px 25px;
}

#formas-de-envio{
    padding-right: 100px;
    font-size: 30px;
    text-align: justify;
}
#pago-contenido select{
    max-width: 40%;
}
#pago-contenido #direccion-envio { float: left; width: 45%; }
#pago-contenido #formas-de-envio { float: right; width: 35%; }


#cobro-contenido{
    padding-top: 200px;
    padding-bottom: 100px;
}

#cobro-contenido #pago-cobro { float: left; width: 45%; }
#cobro-contenido #total-cobro { float: right; width: 35%; }


/*=====================================
	Manejo del footer
=======================================*/
#pie { clear: both; }

footer{
    width: 960px;
    height: 60px;
    color: #1e1d1c;
    text-align: left;
    font-size: 14pt;
}


#social{
    width: 960px;
    margin:5px;
}

#social ul{
    padding:0;
    list-style:none;
}

#social ul li {
    float: left;
    padding:0 0 0 5px;
}

#derechos{
    float: left;
    width: 960px;
    margin: 0 30px 0 10px;
    padding: 0 30px 0 0;
}
