*{
    margin: 0;
    padding: 0;
}


header, nav, section, aside, footer{
    display: block;
}

.clear{
    clear:both;
}

body{
    margin:30px auto 0;
    position:relative;
    text-align:left;
    width:960px;
    padding-left: 20px;
    padding-right: 20px;
}


#contenedor{
    width: 960px;
}

/*=====================================
	Manejo del header
=======================================*/

header{
    width: 960px;
    height:100px;
    border-bottom: 2px solid #000000;
}


#logotipo{
    position: relative;
    margin:0;
}

#logotipo img{
    float: left;
    width: 150px;
    height: 100px;
}


#logotipo span{
    margin: 20px 0 0 10px;
    float: left;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

nav{
    font-size: 1.5em;
}

nav ul{
    text-align: right;
    position: absolute;
    margin: 0 15px 0 0;
    list-style: none;
    top: 40px;
    right: 150px;
}

nav ul li{
    text-align: center;
    border-right: 1px solid;
    margin: 0 10px;
    padding: 0 10px;
    float: left;
}


header #perfil{
    width: 70px;
    position: absolute;
    float: left;
    top: 20px;
    right: 40px;
}

header #perfil #usuario{
    width: 40px;
    height: 30px;
}

header #perfil #carrito{
    margin-top: 10px;
    width: 40px;
    height: 30px;
}





/*=====================================
	Manejo del footer
=======================================*/

footer{
    border-top: 2px solid #000000;
    clear: both;
    text-align: left;
}


#social{
    width: 960px;
    margin:5px;
}

#social ul{
    padding:0;
    list-style:none;
}

#social ul li {
    float: left;
    padding:0 0 0 5px;
}

#derechos{
    float: left;
    width: 960px;
    margin: 0 30px 0 0;
    padding: 0 30px 0 0;
}