*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #F9FBFC;
}

hr{
    border-top: 1px solid;
}

.alertingdivbg{
    position: absolute; !important;
    width: 100%; height: 100%; !important;
    padding-top: 20%;
    background-color: rgba(0, 0, 0, 0.47);
    padding-left: 33%;
    top:0; right:0;
    bottom:0; left:0;
    font-family: 'Lato', sans-serif, bold ;
}

body .alertingdiv{
    background-color: white;
    width:30%;
    height: 20%;
    border: 30px;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 5%;

 }

body .alertingdiv span {
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: large;

}
header, nav, section, aside, footer{
    display: block;
}

.clear{
    clear:both;
}

#contenedor{
    width: 960px;
    margin:30px auto 0;
    position:relative;
    text-align:left;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
}

/*=====================================
	Manejo del header
=======================================*/

header{
    width: 960px;
    height:100px;
    color: #F9FBFC;
    background-color: #56A7A7;
}

#logotipo{
    position: relative;
    margin:0;
}

#logotipo img{
    float: left;
    padding: 15px 0 0 15px;
    width: 8%;
}

#logotipo span{
    margin: 40px 0 0 10px;
    float: left;
    font-family: 'Spectral SC', serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

nav{
    font-size: 14pt;
    font-family: 'Lora', serif;
    background-color: #A0DBDB;
    width: 960px;
}

nav ul{
    /*
    position: absolute;
    */margin: 0 15px 0 0;
    overflow: hidden;
    list-style:none outside none;
    top: 40px;
    right: 150px;
}

nav ul li{
    /*
    border-right: 1px solid;
     */
    display: inline;
    margin: 0 10px;
    padding: 0 10px;
    /*
    float: left;
     */
    text-align: center;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
    padding: 14px 16px;
}

nav ul li a:hover{
    color:#7795a3;
}

header #perfil{
    width: 150px;
    /*
    position: absolute;
     */
    float: right;
    top: 15px;
    margin-top: 15px;

}

header #perfil img{
    width: 20%;
}

header #perfil a{
    cursor: pointer;
}
header #perfil #nombre_usuario{
    color: #FCEA90;
    text-align: left;
}


/*=====================================
	Manejo del contenido
=======================================*/

section #presentacion{
    width: 960px;
    margin-top: 10px;
    text-align: center;
}

section #ofertas{
    width: 930px;
    height: 150px;
    border: 3px solid #56A7A7;
    margin:20px;
    padding-bottom: 10px;
    text-align: center;
}

section #presentacion video{
    width: 600px;
    height: 300px;
}

section #ofertas ul{
    margin-top: 10px;
    list-style: none;
}

section #ofertas ul li{
    width: 300px;
    float: left;
    padding:0 0 0 5px;
}

#ofertas ul li img{
    float: left;
    width:120px;
    height: 100px;
}

#ofertas ul li #title_oferta{
    font-weight: bold;
    width: 50px;
    float: left;
}

#ofertas ul li #valoracion{
    width: 50px;
    float: left;
}

#ofertas ul li #precio{
    font-size: 12pt;
    width: 85px;
    float: left;
}


#ofertas input[type=button]{
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    padding: 14px 25px;
    background-color:#4CAF50;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

/*
#ofertas input[type=button]:hover{
    border: 2px solid lightcoral;
}*/

#ofertas input[type=button]:focus{
    outline: none;
    border: 2px solid lightcoral;
}



#content_login{
    text-align: center;
    width: 960px;
}

#content_login a:visited{
    color: cornflowerblue;
}

#form_login table{
    margin: 0 auto;
    padding: 0;
    height: 250px;
}

#form_login input, #form_signup input{
    margin: 10px auto;
    width: 200px;
    height: 30px;
    border-style:solid;
    border-radius: 4px;

}



#form_login input:focus, #form_signup input:focus{
    border-color: cornflowerblue;
}


#button_login {
    margin: 0;
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    background-color: #008CBA;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#button_signup{
    border: none;
    color: white;
    border-radius: 4px;
    background-color:#4CAF50;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#login_registrarse{
    padding-bottom: 5px;
    width: 100px;
    height: 100px;
}


#login{
    width: 500px;
    height: 330px;
    margin:0 230px;
}

#validacion_login{
    height: 30px;
    color: red;
}

#signup{
    width: 500px;
    height: 500px;
    margin:0 230px;
}

/*============Perfil===============*/


#content_profile{
    text-align: center;
    width: 960px;
}

#form_profile table{
    margin: 0 auto;
    padding: 0;
    height: 400px;
}

#logout{
    height: 45px;
}


#button_update{
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    padding: 14px 25px;
    background-color:#4CAF50;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#button_update_password{
    margin: 0;
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    padding: 14px 25px;
    background-color:#4CAF50;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#button_logout{
    float: right;
    margin-right: 40px;
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    padding: 14px 25px;
    background-color:#f44336;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

#validacion_update{
    height: 30px;
    color: red;
}


/*======Productos=============*/
#prod-lateral { float: left; width: 17%; }


#prod-portada{
    padding:10px;
}
#prod-contenido { float: right; width: 78%; }
#prod-contenido #descripcion-libro { float: left; width: 75%; }
#prod-contenido #banner { float: right; width: 25%; }

div.prod-stars {
    padding: 7px;
    width: 270px;
    display: inline-block;
    align-content: left;
}

input.prod-star { display: none; }

label.prod-star {
    align-content: right;
    font-size: 40px;
    color: #444;
    transition: all .2s;
}
div.prod-bookart{
    float: right;
}

input.prod-star:checked + label.prod-star:before {
    content: '☆';
    color: cornflowerblue;
    transition: all .25s;
}

input.prod-star-5:checked + label.prod-star:before {
    color: #ffe513;
    text-shadow: 0 0 20px #952;
}

input.prod-star-1:checked + label.prod-star:before { color: #F62; }

label.prod-star:before {
    content:  '☆';
}

#prod-detalle{
    horiz-align: center;
    align-content: center;
}

#isbn{
padding-left: 150px;
}
#isbn td{
    border: ridge;
    border-width: 2px;
}

#prod-payment, #content_pago{
    font-size: large;
    font-weight: bold;
    font-family: "Verdana";
}

#pago-contenido{
    padding: 10px;
    width:  100%;
    float: right;
}
#prod-precio{
    color: red;
}
.addr-pago{
    width:100%;
    text-align: start;
}


#prod-cart-button{
    font-size: larger;
    background-color: black;

    color: white;
    padding: 0px 25px 0px 25px;
}

#comprar{
    font-size: larger;
    background-color: black;

    color: white;
    padding: 0px 25px 0px 25px;
    margin: 5%;
    align: center;
}

#formas-de-envio{
    padding-right: 100px;
    font-size: 30px;
    text-align: justify;
}

#formas-de-envio input[type=radio]{
}

#pago-cobro input[type=number]{
    width: 70%;
}

#total-calc{
    width:  80%;
}

#total-line{
    border-top: 1pt solid black;

}
#pago-contenido select{
    max-width: 40%;
}
#pago-contenido #direccion-envio { float: left; width: 45%; }
#pago-contenido #formas-de-envio { float: right; width: 35%; }


#cobro-contenido{
    padding-top: 200px;
    padding-bottom: 100px;
}

#cobro-contenido #pago-cobro { float: left; width: 45%; }
#cobro-contenido #pago-cobro input[type=text]{
    width: 80%;
}
#cobro-contenido #total-cobro { float: right; width: 35%; }


/*=====================================
	Manejo del footer
=======================================*/
#pie { clear: both; }

footer{
    width: 960px;
    height: 60px;
    color: #000000;
    text-align: left;
    font-size: 14pt;
    background-color: #56A7A7;
    margin-bottom: 30px;
}


#social{
    width: 960px;
    margin:10px;
}

#social ul{
    padding:0;
    list-style:none;
}

#social ul li {
    float: left;
    padding:0 0 0 5px;
}

#derechos{
    float: left;
    width: 960px;
    margin: 0 30px 0 10px;
    padding: 0 30px 0 0;
}

