@media only screen and (max-width: 480px) , only screen and (max-device-width: 480px) {

    #contenedor{
        margin:5px 5px;
        position:relative;
        text-align:center;
        width: 240px;
        padding: 0 0px;
    }


    /*Header*/
    header{
        margin: 0 0;
        width: 240px;
        font-size: 16px;
        height:60px;
    }

    header #logotipo{
        position: relative;
        width: 150px;
    }

    header #logotipo img{
        width: 30px;
        padding: 10px 10px;
    }

    header #logotipo span{
        width: 90px;
        margin: 5px 0px;
        font-size: 14px;
    }

    header #perfil{
        width: 60px;
        float: right;
    }

    header #perfil img{
        width: 20px;
    }

    /*Menu*/

    nav{
        display: none;
    }


    /*contenido index*/


    section #presentacion {
        margin: 0 0;
        width: 240px;
        height: 150px;
        text-align: center;

    }

    section #presentacion video{
        width: 200px;
        height: 150px;
    }


    section #ofertas{
        position: relative;
        margin: 3px 3px;
        width: 230px;
        height: 500px;
    }


    section #ofertas ul li{
        width: 150px;
        height: 150px;
        float: left;
        padding:0 0 0 5px;
    }

    #ofertas ul li img{
        float: left;
        width:50px;
        height: 50px;
    }

    #ofertas ul li #title_oferta{
        font-weight: bold;
        width: 30px;
        float: left;
    }

    #ofertas ul li #valoracion{
        width: 30px;
        float: left;
    }

    #ofertas ul li #precio{
        font-size: 12pt;
        width: 30px;
        float: left;
    }



    /*Footer*/

    footer{
        margin: 0 0;
        width: 240px;
        height: 70px;
    }

    footer #derechos{
        width: 240px;
        font-size: 12px;
    }
}